@media screen and (max-width: 576px) {
    section {
        width: 90%;
        padding: 3rem 0;
    }

    header {
        padding: 1rem 0;
    }

    .logo {
        min-width: 150px;
    }

    .menu-area {
        display: none;

    }

    .nav-bar {
        display: block;

    }

    .logo img {
        width: 15%;
    }

    .logo h2 {
        font-size: 1.6rem;
    }

    .travel-content {
        padding: 2.4rem;
    }

    .travel-content h1 {
        font-size: 2.2rem;
    }

    .travel-content p {
        width: 100%;
        font-size: 1.4rem;
        margin-bottom: 3.2rem;
        font-weight: 400;
        line-height: 2.1rem;
    }

    .travel-input,
    .input,
    .input-btn {
        width: 100%;
        margin-bottom: 1.6rem;
    }

    .input-btn {
        margin-bottom: 0;
    }

    .popular-section,
    .row,
    .choose-content,
    .newsletter-section,
    .place-section {
        flex-direction: column;
    }

    .popular-img img {
        width: 100%;
    }

    .popular-title {
        font-size: 2.2rem;
    }

    .popular-description,
    .popular-list>li,
    .popular-info {
        font-size: 1.4rem;
    }

    .popular-list {
        padding: 1.6rem;
    }


    .destination-container {
        width: 100%;
    }

    .destination-title {
        font-size: 2rem;
    }

    .destination-description {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }

    .box img {
        height: 17.6rem;
    }



    /* discount */
    .discount-header {
        width: 100%;
    }

    .discounts-area h1 {
        font-size: 3rem;
        font-weight: 400;

    }

    .discounts-area p {
        font-size: 1.2rem;
        font-weight: 200;
    }

    .discount-content {
        width: 90%;
        height: 81%;
        left: 0;
        right: 0;
        top: 10%;

    }

    .discount-content h3 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .discount-content p {
        font-size: 1.4rem;
        margin-top: 1rem;
        line-height: 2.4rem;
    }

    .discount-content .card-price {
        font-size: 1.6rem;
        margin-top: 0.6rem;
    }

    .btn-card {
        margin-top: 1rem;
    }

    .card-2 {
        right: 0;

    }

    .place-container h2,
    .place-img img,
    .place-name {
        width: 100%;
        margin-top: 3rem;
    }

    .place-img video {
        margin-top: 2rem;
    }

    .choose-container,
    .choose-item {
        width: 100%;
    }

    .choose {
        margin-left: 0;
    }

    .form-img img {
        width: 100%;
    }

    .image-text {
        left: 40%;
        bottom: 12rem;
        width: 21.4rem;
        height: 7.9rem;
        padding: 1rem;
    }

    .image-text p {
        font-size: 1.5rem;
    }

    .image-text h4 {
        font-size: 2rem;
    }

    .footer-container {
        padding: 0;
    }

    .footer-description {
        width: 100%;
    }

    .social-link {
        margin-bottom: 3rem;
    }

    .footer-container>p {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

}


@media screen and (min-width: 576px) and (max-width: 990px) {
    section {
        width: 90%;
        padding: 3rem 0;
    }

    header {
        width: 90%;
        padding: 4rem 0;
    }

    .travel-content {
        padding: 4rem;
    }

    .travel-content h1 {
        font-size: 4rem;
    }

    .travel-content p {
        width: 100%;
        font-size: 2rem;
        margin-bottom: 4rem;
        font-weight: 400;
    }

    .travel-input,
    .input,
    .input-btn {
        width: 100%;
        margin-bottom: 1.6rem;
    }

    .input-btn {
        margin-bottom: 0;
    }

    .popular-section,
    .row,
    .choose-content,
    .newsletter-section,
    .place-section {
        flex-direction: column;
    }

    .popular-img img {
        width: 100%;
    }

    .destination-container {
        width: 100%;
    }

    .destination-title {
        font-size: 4rem;
    }

    .destination-description {
        font-size: 2rem;
        line-height: 3rem;
    }

    .choose-container,
    .choose-item {
        width: 100%;
    }

    .choose {
        margin-left: 0;
    }

    .form-img img {
        width: 100%;
    }

    .image-text {
        left: 70%;
        bottom: 12rem;
        width: 23.4rem;
        height: 7.9rem;
        padding: 1rem;
    }

    .image-text p {
        font-size: 1.5rem;
    }

    .image-text h4 {
        font-size: 2rem;
    }



    .discount-header {
        width: 100%;
    }

    .discounts-area h1 {
        font-size: 3rem;
        font-weight: 400;

    }

    .discounts-area p {
        font-size: 1.2rem;
        font-weight: 200;
    }

    .discount-content {
        width: 90%;
        height: 75%;
        left: 0;
        right: 0;
        top: 15%;

    }

    .discount-content h3 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .discount-content p {
        font-size: 1.4rem;
        margin-top: 2rem;
        line-height: 2.4rem;
    }

    .discount-content .card-price {
        font-size: 1.6rem;
        margin-top: 1rem;
    }

    .btn-card {
        margin-top: 2rem;
    }

    .card-2 {
        right: 0;

    }

    .place-container h2,
    .place-img img,
    .place-name {
        width: 100%;
        margin-top: 3rem;
    }

    .place-img video {
        margin-top: 2rem;
    }


}